@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-900 bg-gray-50;
  }
}

@layer components {
  .text-navy-900 {
    color: #1a237e;
  }
  
  .bg-navy-900 {
    background-color: #1a237e;
  }

  .text-logocl{
    color:#0A337A
  }


}